@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font: 400 19px/1 "Raleway", Arial, tahoma, verdana sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
input {
    outline: none;
}
img {
    max-width: 100%;
}
.wrapper {
    position: relative;
    overflow: hidden;
}
.container {
    max-width: 1160px;
    padding: 0 15px;
    margin: 0 auto;
}
.header .container {
    max-width: 1215px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    background-color: #000;
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0px;
} 
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
}
.nav__item {
    margin: 0 33px 0 31px;
}
.navigation a {
    display: block;
    font-size: 19px;
    font-family: 'Raleway';
    font-weight: 500;
    text-transform: uppercase;
    color: #00c0ff;
    padding: 10px 0px;
}
.mobile-button {
    position: relative;
    width: 32px;
    height: 32px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mobile-button span {
    display: block;
    height: 4px;
    width: 100%;
    background: #00c0ff;
    z-index: 5;
    opacity: 1;
    transition: .3s;
}
.mobile-button:before,
.mobile-button:after {
    content: "";
    height: 4px;
    width: 100%;
    background: #00c0ff;
    position: absolute;
    left: 0;
    top: 0;
    transition: .3s;
}
.mobile-button:after {
    top: auto;
    bottom: 0;
}
.mobile-button.opened span {
    opacity: 0;
}
.mobile-button.opened:before {
    transform: rotate(45deg);
    top: calc(50% - 2px);
}
.mobile-button.opened:after {
    transform: rotate(-45deg);
    bottom: calc(50% - 2px);
}
.main {
    min-height: 100vh;
    background: url(../images/banner.jpg) no-repeat 100% 0%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 383px 0 160px 0;
}
.main .container__promo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main img {
    margin-bottom: 52px;
}
.main p {
    font-family: 'Raleway';
    font-weight: normal;
    line-height: 25px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 95px;
    max-width: 800px;
    padding: 0px 11px; 
}
.button {
    font-family: 'Roboto';
    font-weight: bold;
    background: #fff;
    border: 0;
    font-size: 24px;
    text-transform: uppercase;
    padding: 13px 61px;
    border-radius: 26px;
    color: #00c0ff;
}
.title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 164px 0;
}
.text {
    color: #00c0ff;
    max-width: 890px;
    text-align: center;
}
.text h1 {
    font-family: 'Raleway';
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.text p {
    font-size: 19px;
    line-height: 31px;
    font-family: 'Raleway';
    font-weight: normal;
}
.col {
    background: #333333;
}
.box {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; 
    justify-content: space-between;
    color: #fff;
    max-width: 1090px;
    margin: 0 auto;
    padding: 131px 0 114px 0;  
}
.inner {
    max-width: 290px;
}
.inner h1 {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.inner p {
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
@media (max-width: 1200px) {
   .inner {
       padding: 0 20px;
    } 
   .inner h1 {
        font-size: 17px;
    }
    .text p {
        padding: 0 30px;
    }
}
@media (max-width: 800px) {
    .mobile-button {
        display: inline-flex;
    }
    .navigation {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: auto;
        text-align: center;
        background: #000;
        z-index: 20;
    }
    .header {
        top: 0;
    }
    .header .container {
        padding: 8px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main {
        background-position: 80%;
    }
}
@media (max-width: 425px) {
    .main {
        background-position: 73%;
        padding: 290px 0 80px 0;
    }
    .title {
        padding: 20px 0;
    }
    .text h1 {
        margin-bottom: 10px;
    }
    .box {
        flex-direction: column;
        padding: 20px 0;  
    }
    .inner h1 {
        margin-bottom: 0;
    }
    .inner p {
        padding: 20px 0;
    }
    .box .inner:last-child p {
        padding: 20px 0 0;
    }
}
