@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    font: 400 19px/1 "Raleway", Arial, tahoma, verdana sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
input {
    outline: none;
}
img {
    max-width: 100%;
}
.wrapper {
    position: relative;
    overflow: hidden;
}
.container {
    max-width: 1160px;
    padding: 0 15px;
    margin: 0 auto;
}
.header .container {
    max-width: 1215px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header {
    background-color: #000;
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0px;
} 
.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 52px;
}
.nav__item {
    margin: 0 33px 0 31px;
}
.navigation a {
    display: block;
    font-size: 19px;
    font-family: 'Raleway';
    font-weight: 500;
    text-transform: uppercase;
    color: #00c0ff;
    padding: 10px 0px;
}
.mobile-button {
    position: relative;
    width: 32px;
    height: 32px;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
}
.mobile-button span {
    display: block;
    height: 4px;
    width: 100%;
    background: #00c0ff;
    z-index: 5;
    opacity: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.mobile-button:before,
.mobile-button:after {
    content: "";
    height: 4px;
    width: 100%;
    background: #00c0ff;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.mobile-button:after {
    top: auto;
    bottom: 0;
}
.mobile-button.opened span {
    opacity: 0;
}
.mobile-button.opened:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: calc(50% - 2px);
}
.mobile-button.opened:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: calc(50% - 2px);
}
.main {
    min-height: 100vh;
    background: url(../images/banner.jpg) no-repeat 100% 0%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 383px 0 160px 0;
}
.main .container__promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.main img {
    margin-bottom: 52px;
}
.main p {
    font-family: 'Raleway';
    font-weight: normal;
    line-height: 25px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 95px;
    max-width: 800px;
    padding: 0px 11px; 
}
.button {
    font-family: 'Roboto';
    font-weight: bold;
    background: #fff;
    font-size: 24px;
    text-transform: uppercase;
    padding: 13px 61px;
    border-radius: 26px;
    color: #00c0ff;
}
.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #000;
    padding: 164px 0;
}
.text {
    color: #00c0ff;
    max-width: 890px;
    text-align: center;
}
.text h1 {
    font-family: 'Raleway';
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.text p {
    font-size: 19px;
    line-height: 31px;
    font-family: 'Raleway';
    font-weight: normal;
}
.col {
    background: #333333;
}
.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    -webkit-box-pack: justify; 
        -ms-flex-pack: justify; 
            justify-content: space-between;
    color: #fff;
    max-width: 1090px;
    margin: 0 auto;
    padding: 131px 0 114px 0;  
}
.inner {
    max-width: 290px;
}
.inner h1 {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.inner p {
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.priorities {
    background: url(../images/priorities.jpg) no-repeat 100% 0%;
    background-size: cover ;
    padding: 90px 0 95px;
}
.title-29 {
    font-size: 29px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto";
    font-weight: 700;
    margin-bottom: 40px;
    color: #00c0ff;
}
.title-38 {
    font-size: 38px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #00c0ff;
    margin-bottom: 15px;
    font-family: "Roboto";
    font-weight: 400;
}
.p {
    font-size: 21px;
    font-family: 'Raleway';
    font-weight: normal;
    line-height: 33px;
    color: #00c0ff;
    text-align: center;
    margin: 0 auto 80px;
    max-width: 980px;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.col-33 {
    width: calc(33.3% - 23px);
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 0 0 30px;
}
.col-50 {
    width: calc(50% - 15px);
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.priorities .col-33 {
    text-align: center;
    padding: 58px 85px 75px;
    background: rgba(3, 3, 3, 0.5);
}
.priorities .col-33 h5 {
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    margin: 0 0 55px;
    font-family: "Roboto";
    font-weight: 700;
}
.priorities .col-33 p {
    color: #fff;
    font-size: 17px;
    line-height: 1.2;
    text-align: left;
    margin: 0 0 55px;
}
.author__name {
    font-size: 15px;
    line-height: 1.2;
    color: #fff;
    text-transform:uppercase;
    margin-bottom: 2px;
    font-family: "Roboto";
    font-weight: 700;
}
.author__position {
    color: #fff;
    font-size: 15px;
}
.tabs__content {
    display: none; 
}
.tabs__content.active {
    display: block; 
}
.what_we_du {
    padding: 96px 0 120px;
    background-color: #000;
    text-align: center;
}
.what_we_du .p {
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 80px;
    max-width: 700px;
}
.what_we_du .title-38 {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 29px;
    margin-bottom: 22px;
}
.tabs__caption li {
    font-size: 17px;
    color: #00c0ff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.tabs__caption li.active {
    color: #000;
    background: #00c0ff;
}
.tabs__content {
    color: #fff;
    padding-top: 74px;
}
.tabs__caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.projects__item {
    max-width: 200px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.projects__item img {
    max-width: 100px;
    height: auto;
    margin: 0 0 45px;
}
.row .projects__item:not(:nth-child(1)).projects__item img{
    margin: 0 0 55px;
}
.projects__item p {
    font-size: 17px;
    margin: 0 0 55px;
    line-height: 19px;
}
.projects__item h5 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    margin: 0 0 50px;
}
.travel__item {
    max-width: 300px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.travel__item img {
    max-width: 300px;
    height: auto;
    margin: 0 0 20px;
}
.travel__item p {
    font-size: 17px;
    color: #00c0ff;
    font-family: "Roboto";
    font-weight: normal;
}
.mission__item {
    text-align: center;
    color: #00c0ff;
}
.mission__item h5 {
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 32px;
    margin: 0 0 30px;
}
.mission__item h6 {
    font-size: 22px;
    font-family: "Roboto";
    font-weight: normal;
    margin: 10px 0;
}
.mission__item p {
    line-height: 32px;
    font-family: 'Raleway';
    padding: 0 20px;
}
.photos__item img {
    width: 310px;
    height: 170px;
    padding: 5px;
}
.title-20 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #333;
    padding: 125px 0 60px;
}
.text-20 {
    color: #00c0ff;
    max-width: 790px;
    text-align: center;
}
.text-20 p {
    font-size: 20px;
    margin-bottom: 45px;
    line-height: 32px;
    font-family: 'Raleway';
    font-weight: 600;
}
.text-20 span {
    font-size: 19px;
    font-family: 'Raleway';
    font-weight: 600;
}
.nature {
    background: #000;
    padding: 185px 0 330px;
    position: relative;
}
.nature .p {
    text-align: left;
    margin-bottom: 0;
}
.nature__img {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 5;
    background: url(../images/nature.jpg) no-repeat 0 50%;
    background-size: cover;
}
.nature .col-50 {
    padding-right: 40px;
}
.subscription {
    background: url(../images/subscription.jpg) no-repeat 100% 0;
    background-size: cover;
    padding: 210px 0;
    position: relative;
}
.subscription .container {
    max-width: 1282px;
}
.row-20 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    width: 100%;
}
.column {
    width: 33.3%;
    text-align: right;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.column h1 {
    font-size: 58px;
    font-family: "Roboto";
    font-weight: bold;
    color: #fff;
    line-height: 52px;
    margin-bottom: 19px;
    padding: 6px 5px 0 0; 
}
.column p {
    font-size: 17px;
    color: #fff;
    font-family: 'Roboto';
    font-weight: normal;
    margin-bottom: 56px;
    line-height: 19px;
    padding: 0 10px 2px 81px;
}
.column .button {
    font-family: 'Roboto';
    font-weight: normal;
    background: #fff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 12px 57px;
    border-radius: 26px;
    color: #00c0ff;
}
.row-25 {
    padding: 210px 0;
}
.col-55 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 225px;
}
.col-55:last-child {
    padding: 0;
}
.col-55:nth-child(2n) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}
.new {
    background: #000;
}
.new .container {
    max-width: 980px;
}
.inner__new {
    width: 50%;
    text-align: center;
    color: #00c0ff;
    padding-right: 112px;
}
.col-55:nth-child(2n) .inner__new {
    padding-left: 112px;
    padding-right: 0;
}
.inner__new span {
    font-size: 17px;
    font-family: 'Raleway';
    font-weight: normal;
}
.inner__new h3 {
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: 500;
    margin: 16px 0 50px 0;
    text-transform: uppercase;
}
.inner__new p {
    font-size: 17px;
    font-family: 'Raleway';
    font-weight: normal;
    line-height: 20px;
}
.new__img {
    width: 50%;
    text-align: center;
}
.event {
    background: #333333;
}
.event .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    -webkit-box-pack: justify; 
        -ms-flex-pack: justify; 
            justify-content: space-between;
    color: #fff;
    max-width: 1044px;
    padding: 70px 0 90px;
    font-family: 'Raleway';
    font-weight: 500; 
}
.event p {
    font-size: 21px;
    padding-bottom: 10px;
}
.event span {
    font-size: 17px;
}
.block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #000;
    padding: 110px 0;
}
.text-25 {
    color: #00c0ff;
    max-width: 790px;
    text-align: center;
}
.text-25 p {
    font-size: 21px;
    margin-bottom: 20px;
    line-height: 30px;
    font-family: 'Raleway';
    font-weight: 600;
}
.text-25 span {
    font-size: 19px;
    font-family: 'Raleway';
    font-weight: 600;
}
.footer {
    background: #333;
    padding: 83px 0 72px;
    color: #fff;
}
.footer .row {
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
}
.col__inner {
    width: 314px;
}
.col__inner h5 { 
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 17px;
}
.col__inner p {
    font-size: 19px;
    font-family: 'Roboto';
    font-weight: normal;
    line-height: 27px;
    margin-bottom: 20px;
}
.footer__menu__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: inherit;
            flex-flow: inherit;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 62%;
}
.col__item h5 {
    font-size: 20px;
    margin-bottom: 42px;
    font-family: 'Roboto';
    font-weight: bold;
    text-transform: uppercase;
}
.col__item a {
    font-size: 21px;
    color: #fff;
    font-family: 'Roboto';
    font-weight: normal; 
    line-height: 30px;
}
.socials__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
}
.socials__row .ic {
    padding: 0;
}
.socials__row li:not(:first-child).ic {
    padding: 0 3px 0 10px;
}
.powered {
    height: 23px;
    background-color: #00c0ff;
}
@media (max-width: 1200px) {
   .inner {
       padding: 0 20px;
    } 
   .inner h1 {
        font-size: 17px;
    }
    .p {
        padding: 0 30px;
    }
    .title-38 {
        padding-left: 30px;
    }
    .priorities .col-33 h5, 
    .priorities .col-33 p {
        margin-bottom: 30px;
    }
    .priorities .col-33 {
        padding: 35px 30px 45px;
    }
    .what_we_du .title-38 {
        padding: 0;
    }
    .inner__event {
        padding: 0 20px;
    }
    .subscription {
        background-position: 65%
    }
    .column p {
        padding-left: 50px;
    } 
    .tabs__content.travel .row {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .travel__item p {
        padding-bottom: 20px;
    }
}
@media (max-width: 800px) {
    .mobile-button {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    .navigation {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: auto;
        text-align: center;
        background: #000;
        z-index: 20;
    }
    .header {
        top: 0;
    }
    .header .container {
        padding: 8px 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .main {
        background-position: 80%;
    }
    .subscription {
        padding: 70px 0;
        background-position: 50%
    }
    .row-20 {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .column {
        width: 100%;
        text-align: center;
    }
    .column p {
        padding: 0;
    }
}
@media (max-width: 768px) {
    .col-33 {
        width: calc(50% - 15px);
        margin-bottom: 30px;
    }
    .priorities {
        padding: 40px 0 45px;
    }
    .p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 40px;
    }
    .title-29 {
        font-size: 24px;
        margin-bottom: 25px;
    }
    .title-38 {
        font-size: 28px;
    }
    .text-20 p {
        padding: 0 15px;
    }
    .row-25 {
        padding: 40px 0;
    }
    .col-55 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-bottom: 40px;
    }
    .col-55:nth-child(2n) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .col-55:nth-child(2n) .inner__new {
        width: 100%;
        padding: 20px;
    }
    .inner__new, .new__img {
        width: 100%;
        padding: 20px;
    }
    .inner__new h3 {
        margin: 10px 0 15px 0;
    }
    .inner__new p {
        font-size: 16px;
    }
    .block {
       padding: 70px 20px; 
    }  
}
@media (max-width: 640px) {
    .tabs__content.projects.active .row {
        display: inline-block;
    }
    .projects__item .author__position {
        margin-bottom: 30px;
    }
    .tabs__content.travel .row {
        display: inline-block;
    }
    .tabs__content {
        padding-top: 40px;
    }
    .what_we_du {
        padding: 40px 0 10px;
    }
    .what_we_du .p {
        margin-bottom: 40px;
    }
    .projects__item p {
        margin: 0 0 30px;
    }
    .projects__item h5 {
        margin: 0 0 20px;
    }
}
@media (max-width: 600px) {
    .col-50 {
        width: 100%;
    }
    .nature__img {
        display: none;
    }
    .nature {
        padding: 60px 0 65px;
    }
    .nature .col-50 {
        padding-right: 0;
    }
    .priorities {
        background-position: 76%;
    }
    .footer {
        padding: 45px 0 45px;
    }
    .footer .row {
        display: block;
        text-align: center;
    }
    .footer__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .footer__menu__block {
        margin-top: 20px;
        width: 100%;
    }
    .col__item h5 {
        margin-bottom: 25px;
    }
    .col__inner {
        width: 100%;
    }
    .socials__row {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}
@media (max-width: 480px) {
    .col-33 {
        width: 100%;
    }
    .priorities .col-33 p {
        text-align: center;
    }
    .main {
        background-position: 73%;
        padding: 290px 0 80px 0;
    }
    .title {
        padding: 20px 0;
    }
    .text h1 {
        margin-bottom: 10px;
    }
    .text p {
        padding: 0 20px;
    }
    .box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 20px 0;  
    }
    .inner h1 {
        margin-bottom: 0;
    }
    .inner p {
        padding: 20px 0;
    }
    .box .inner:last-child p {
        padding: 20px 0 0;
    }
    .priorities .row .col-33:last-child {
        margin-bottom: 0;
    }
    .title-20 {
        padding: 30px;
    }
    .text-20 p {
        margin-bottom: 25px;
    }
    .inner__new p {
        font-size: 14px;
    }
    .col-55 {
        padding-bottom: 0px;
    }
    .event .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 20px 0 30px;
    }
    .inner__event {
        margin-bottom: 25px;
    }
    .inner__event:last-child {
        margin: 0;
    }
    .block {
        padding: 30px 15px;
    }
    .tabs__caption {
        display: block;
    }
}

